<nav class="navbar bg-body-tertiary">
    <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-success me-2 item" type="button" onclick="location.href='Cliente'">Clientes</button>
        <button class="btn btn-outline-success me-2 current" type="button" onclick="location.href='/'">Principal</button>
        <button class="btn btn-outline-success me-2 item" type="button" onclick="location.href='Ejercicio'">Ejercicios</button>
    </form>
</nav>
