@page "/Rutinas"
<style>
    .center {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100vh; 
    }
    .input{
        width: 40% !important;
        background-color: #1e1e1e;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
</style>
<div class="center">
    <div class="container text-center input">
    <div class="row">
        <div class="col">
            <h1>Consulta Cliente</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Digite la cédula a consultar</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
        <div class="row">
            <div class="col">
                <br />
                <button type="button" class="btn btn-primary normal">Confirmar</button>
            </div>
        </div>
</div>
</div>
